/* Estilos generales del cuerpo de la página web */
body {
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto blanco */
    font-family: 'BELL MT', sans-serif; /* Tipo de letra */
    text-align: center; /* Alineaciòn de letra */
    margin: 0; /* Espacio fuera del borde del elemento */
    padding: 0; /* Espacio dentro del borde del elemento */
}

/* Estilos para la clase div class="container" */
.container {
    display: flex; /* Esto convierte al div en un contenedor flex, habilitando el uso de las propiedades flexbox para organizar el contenido dentro de este contenedor */
    justify-content: center; /* Alinea horizontalmente los elementos hijos del contenedor flex en el centro del contenedor */
    align-items: center; /* Alinea verticalmente los elementos hijos del contenedor flex en el centro del contenedor */
    min-height: 100vh; /* Mínimo 100% del viewport en altura */
}

/* Estilos para la clase div class="intro" */
.intro {
    display: flex; /* Esto convierte al div en un contenedor flex, habilitando el uso de las propiedades flexbox para organizar el contenido dentro de este contenedor */
    flex-direction: column; /* Los elementos flex se colocan en una columna vertical, de arriba hacia abajo */
    align-items: center; /* Alinea verticalmente los elementos hijos del contenedor flex en el centro del contenedor */
}



/* Logo del bar */
.logo {
    padding: 50px; /* Espaciado interior de un elemento (separación entre contenido y borde) */
    width: 325px; /* Tamaño logo */
    margin-bottom: 10px;
    animation: moveLogo 3s ease-in-out infinite alternate; /* Animación del logo en segundos */
}
/* Animación del logo */
@keyframes moveLogo {
    0%, 100% { 
        transform: translate(-300px, 50px); /* mueve el elemento 100 píxeles a la izquierda y 10 píxeles hacia abajo desde su posición original. */
    }
    50% {
        transform: translate(300px, 0px); /* mueve el elemento 200 píxeles a la derecha y 100 píxeles hacia abajo desde su posición original. */
    }
}



/* Botón de "I'm ready" */
.btn-start {
    display: inline-block; /* Se comporta como un bloque en línea */
    padding: 10px 20px; /* Espaciado interior de un elemento (separación entre contenido y borde) */
    font-family: 'BELL MT', sans-serif; /* Tipo de letra */
    background-color: #fff; /* Fondo blanco */
    color: #000; /* Texto negro */
    text-decoration: none; /* Sin subrayado */
    font-size: 24px; /* Tamaño de fuente grande */
    font-weight: bold; /* Texto en negrita */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición suave de color de fondo */
    margin-top: 20px;
}
/* Botón de inicio pero cuando se pasa por encima o se de click en el botón "I'm ready" */
.btn-start:hover {
    background-color: #A56F00; /* Fondo amarillo Mónaco */
    color:  #000; /* Texto negro*/
}



/* Encabezado del menú */
.header {
    background-color: #A56F00; /* Fondo amarillo Mónaco */
    padding: 20px; /* Espaciado interior de un elemento (separación entre contenido y borde) */
    text-align: center; /* Alineación del texto al centro */
    display: none; /* Inicialmente oculta el elemento */
    margin-top: 20px; /* Margen superior de 20 píxeles */
    width: 100%; /* Ancho del elemento al 100% del contenedor padre */
    box-sizing: border-box; /* Define el modelo de caja incluyente, incluyendo padding y borde en el ancho total */
}

/* Estilos para el título h2 dentro de .header */
.header h2 {
    font-family: 'Bell MT', serif; /* Tipo de fuente para el título */
    font-size: 36px; /* Tamaño de fuente 36 píxeles */
    margin: 0; /* Elimina el margen predeterminado del título */
    color: #fff; /* Color del texto blanco */
}

/* Estilos para el espaciado y mostrar cada sección de la página web */
.menu-section {
    display: none; /* Oculta inicialmente todas las secciones de menú */
    margin-top: 20px; /* Establece un margen superior de 20px para todas las secciones de menú */
}
.menu-section.active {
    display: block; /* Muestra una sección de menú cuando tiene la clase "active" */
}
.menu-subsection {
    margin-top: 50px; /* Establece un margen superior de 20px para todas las subsecciones de menú */
} 
/* Enlaces rapidos de la sección categorias*/
.quick-links {
    display: none; /* Inicialmente oculta el contenedor de enlaces rápidos */
    justify-content: space-around; /* Distribuye los elementos de manera uniforme con espacio alrededor */
    margin-top: 20px; /* Establece un margen superior de 20px */
    width: 100%; /* Ocupa el ancho completo disponible */
    background-color: #333231; /* Color de fondo gris oscuro */
    padding: 10px 10px; /* Relleno de 10px arriba y abajo, 0 a los lados */
}
.quick-link {
    color: #ffffff; /* Color del texto blanco */
    font-size: 18px; /* Tamaño de fuente de 18px */
    text-decoration: none; /* Sin subrayado en los enlaces */
    font-weight: bold; /* Texto en negrita */
    transition: color 0.3s ease; /* Transición suave del color del texto */
}
.quick-link:hover {
    color: #A56F00; /* Color amarillo Mónaco al pasar el cursor sobre los enlaces rápidos */
}



/* SUbseccion de Categorias, solo aplica para (Bebidas, Licores, Comidas y Promociones */
.menu-subsection h3 {
    font-family: 'Bell MT', serif; /* Tipo de fuente para el título */
    font-size: 36px; /* Tamaño de fuente 36 píxeles */
    margin: 0; /* Elimina el margen predeterminado del título */
    color:  #A56F00; /* Color amarillo Mónaco */
}


.menu-item {
    font-size: 20px;
    margin-bottom: 5px;
}

.menu-subsection {
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
}

.menu-subsection.active {
    opacity: 1;
}









.sub-menu-row {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex-wrap: wrap; /* Ajuste para envolver los elementos en dispositivos pequeños */
}

.sub-menu-column {
    width: 50%;
    padding: 0 10px; /* Espaciado interior para las columnas */
}

.left-column {
    text-align: left;
}

.right-column {
    text-align: right;
}

@media (max-width: 768px) {
    .sub-menu-column {
        width: 100%; /* Cambiar al 100% en dispositivos pequeños para ocupar todo el ancho */
        text-align: center;
    }
}

.licores-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
}

.licores-table th,
.licores-table td {
    padding: 8px;
}

.licores-table th {
    background-color: #A56F00;
    color: #fff;
    font-family: 'Bell MT', serif;
}

.licores-table tr:hover {
    background-color: #ddd;
}

@media (max-width: 768px) {
    .licores-table {
        font-size: 14px;
    }
}

.align-left {
    text-align: left;
}