.intro img {
    width: 500px; /* Ancho fijo para el logo */
    margin-bottom: 10px; /* Margen inferior para separar el logo del texto */
    animation: moveLogo 2s ease-in-out infinite alternate; /* Animación de movimiento del logo */
}

@keyframes moveLogo {
    0%, 100% { 
        transform: translate(-100px, 10px); /* Comienza y termina moviéndose hacia la izquierda y abajo */
    }
    50% {
        transform: translate(200px, 100px); /* Moviéndose hacia la derecha y abajo a la mitad de la animación */
    }
}

.intro-text {
    font-size: 20px; /* Tamaño de fuente para el texto de introducción */
    line-height: 1.5; /* Altura de línea para mejorar la legibilidad */
    margin-bottom: 20px; /* Margen inferior para separar el texto del botón */
    animation: fallDown 2s ease forwards; /* Animación de caída de las letras */
    opacity: 0; /* Inicialmente invisible */
}

@keyframes fallDown {
    0% { transform: translateY(-100px); opacity: 0; } /* Comienza fuera de la pantalla y transparente */
    100% { transform: translateY(0); opacity: 1; } /* Termina en la posición final visible */
}

.btn-start {
    display: inline-block; /* Muestra como bloque en línea */
    padding: 10px 20px; /* Relleno interior del botón */
    background-color: #ffffff; /* Color de fondo blanco */
    color: black; /* Color de texto negro */
    text-decoration: none; /* Sin decoración de texto */
    font-size: 24px; /* Tamaño de fuente */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

.btn-start:hover {
    background-color: #A56F00; /* Cambio de color de fondo al pasar el ratón */
}
